.container {
  margin-right: auto;
  margin-left: auto;
}

body {
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
    text-align: center;
    vertical-align: middle;
}

.full {
    background: url('images/red-leaf.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
