/*.container {
  display: inline-block;
  vertical-align: middle;
  float: none;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}*/
.container-1 {
  background-image: url("images/grep-cover.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  /*opacity: 1;*/
}

.container-2 {
  height: 200px;
  background-color: white;
  position: relative;
  /*display: inline-block;*/
  color: black !important;
}

.container-3 {
  background-image: url("images/grep-cover.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container-4 {
  height: 300px;
  background-color: white;
  position: relative;
  display: inline-block;
  color: black !important;
}

html, body {
  color: white !important;
  background-color: rgba(0, 0, 0, 0) !important;
  text-align: center;
  min-height: 100%;
  height: 100%;
}

.centered-div {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.box-column {
  position: relative;
  height: 25%;
}

.content-column {

}

.
/*.list-horizontal {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}*/

/*li {
  display: inline;
  padding: 20px 20px 20px 20px
}*/

.btn-transparent {
  color: white !important;
  background-color: transparent !important;
  border: 2px solid white !important;
}

.btn-transparent:hover {
  color: black !important;
  background-color: white !important;
}
